<h3>your search for <span class="q"><%= @q %></span> returned <span class="r"><%= pluralize(@results.root.elements.size, "result") %></span></h3>
<% if @results && @results.size > 0 %>
  <% @results.root.each_element do |result| %>
    <% result.each_element do |node| %>
      <%= node.name %>: <%= auto_link(node.text) %>
      <br>
    <% end %>
  <br><br>  
  <% end %>
<% end %>
<small>
<%= link_to_function "X CLOSE", "$('search-div').hide();" %>
</small>